#### Flix ####
# Standard output folders of flix
build/
target/

# Everything in the lib folder, they should be installed locally
lib/**
!lib/.gitkeep

# Crash Reports
crash_report_*.txt

# Custom flix jar and build jars in root
/*.jar

# Build flix package in root
/*.fpkg

# Local files
**/personal/**



#### vscode ####
# (from https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore)
.vscode/**
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
#!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix